body {
  font-family: cursive;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  height: 100px;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
}

header div {
  display: flex;
  align-items: center;
  gap: 80px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f57520;
  font-weight: bolder;
}

.abir {
  color: #f57520;
}

.headerbtm {
  color: white;
  height: 875px;
  width: 1300px;
  display: flex;
  align-items: center;
}

.headerbtm h1 {
  font-size: 80px;
}

.headerbtm p {
  font-size: 20px;
}

.headerbtm button {
  width: 250px;
  height: 50px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #f57520;
  font-size: 20px;
}

.headerbtm div {
  width: 900px;
  text-align: center;
  padding-bottom: 200px;
  margin-left: 29px;
}

.head {
  background-image: url(./1.png);
  background-repeat: none;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  background-size: cover;
  padding-bottom: 200px;
}

.tras {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

main {
  background-color: #555;
  padding-bottom: 80px;
}

.cards div img {
  width: 400px;
}

.cards div p {
  width: 380px;
  padding-left: 10px;
}

.cards {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.cardss {
  background-color: #f57520;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 400px;
}

.cardss div p {
  width: 380px;
  margin-left: 10px;
}

.cardss img {
  width: 400px;
}

.cards:hover {
  background-color: #f57520;
  color: black;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.inp {
  width: 628px;
  margin-left: 30px;
}

h1 {
  color: white;
}

.mainbtm {
  background-color: #f57520;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

input {
  width: 300px;
  height: 46px;
  border-radius: 20px;
  border: none;
}

.inp div {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 758px;
  height: 300px;
}

.mainbtm img {
  width: 910px;
}

.mainbtm div button {
  width: 608px;
  height: 46px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}

textarea {
  width: 608px;
  height: 160px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
}

footer {
  background-color: black;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  gap: 480px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 130px;
}

.imgbir {
  margin-left: 30px;
}
